<h1>Edit Comment</h1>
<%= simple_form_for ([@message, @comment]) do |f| %>
 <%= f.input :content, label: "コメント" %>
 <%= f.button :submit, :class => 'btn-custom' %>
<% end %>
<div class="links btn-group">
  <%= link_to "戻る", message_path, class: "btn btn-default"  %>
</div>
